* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
  }
  body {
    height: 100vh;
    background: linear-gradient(135deg, #5283ec, #61ffca);
  }
  html {
    font-size: 20px;
  }

  h1{
    font-size: 50px;
    color: #060606;
    text-align: center;
}
  .wrapper {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
  }
  .container {
    width: 70vmin;
    height: 50vmin;
    display: flex;
    flex-wrap: wrap;
    gap: 2vmin;
  }
  .button-option {
    background: #ffffff;
    height: 140px;
    width: 150px;
    border: none;
    border-radius: 8px;
    font-size: 90px;
    color: #000000;
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.1);
    border: 2px solid rgb(12, 5, 5) ;

  }

  .button-option:hover{
    background-color:rgb(195, 253, 170);
    cursor: pointer;
}
  #restart {
    font-size: 1.3em;
    padding: 1em;
    border-radius: 8px;
    background-color: #0a0027;
    color: #ffffff;
    border: 6px solid rgb(255, 247, 247);
    position: relative;
    margin: 5em auto 0 auto;
    display: block;
  }
  .popup {
    background: linear-gradient(135deg, #5283ec, #61ffca);
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    z-index: 2;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1em;
    font-size: 12vmin;
  }
  #new-game {
    font-size: 0.6em;
    padding: 0.5em 1em;
    background-color: #0a0027;
    color: #ffffff;
    border-radius: 0.2em;
    border: 6px solid rgb(247, 247, 247);
  }
  #message {
    color: #000000;
    text-align: center;
    font-size: 1em;
  }
  .popup.hide {
    display: none;
  }